.card-container {
  width: 200px;
  margin: 0 auto;
  overflow: hidden;
}

.desc {
  height: 200px;
  padding: 10px;
}

.desc > h4 {
  font-weight: 400;
  padding: 10px 0;
}

.desc > h5,
h6,
p {
  font-weight: 300;
}

.card-container > img {
  object-fit: contain;
  height: 250px;
}
